alias sail="vendor/bin/sail"
alias artisan="vendor/bin/sail artisan"
alias pint="vendor/bin/pint -v"
alias phpunit="vendor/bin/phpunit"
alias phpstan="vendor/bin/phpstan"
alias hx="helix"
alias vim="nvim"
alias less="bat"
alias ipaddr="ip -br -c -4 address"
