alias sail="vendor/bin/sail"
alias artisan="vendor/bin/sail artisan"
alias pint="vendor/bin/pint -v"
alias phpunit="vendor/bin/phpunit"
alias phpstan="vendor/bin/phpstan"
alias hx="helix"
alias vim="nvim"
alias vim!="/usr/bin/vim"
alias ipaddr="ip -br -c -4 address"
alias rails="bundle exec rails"
alias rspec="bundle exec rspec"
alias rubocop="bundle exec rubocop"
alias cucumber="bundle exec cucumber"
alias sidekiq="bundle exec sidekiq"
alias erblint="bundle exec erblint"
