[user]
	email = willian.girhad@grafeno.digital
	name = Willian Girhad
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[protocol "file"]
	allow = always
[core]
	excludesFile = ~/.gitignore-global
	pager = less -X -F
